@media only screen and (max-width: 900px), only screen and (min-width: 768px) and (max-width: 1023px) {
body { min-width: auto; padding:0 15px }
.pageWidth { width:auto; padding:0 }
#header { padding:20px 0 0 0; }

#logo { margin-bottom:20px; padding:0 }

h2 { font-size:40px; line-height:48px;}
nav li a { padding:5px 25px 0; min-width:50px;} 

#container { padding:20px; }

}

@media only screen and (max-width: 1037px) and (min-width: 1024px) {
nav { margin-right:6px; }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 480px), only screen and (max-width: 767px) {
body { min-width: auto; font-size:13px; padding:0 10px }
.pageWidth { width:auto; }

#logo { text-align:center; font-size:50px; line-height:58px; display:block;  }

h2 { font-size:40px; line-height:43px; margin-bottom:15px; padding-bottom:10px; }
h3 { font-size:37px; line-height:35px; }
h4 { font-size:33px; line-height:40px; }
h5 { font-size:31px; line-height:40px; }
h6 { font-size:25px; }

#menu { display:block; }
nav { border-radius:10px; text-align:center; font-size:15px; float:none; margin:0 0 10px; transform:none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none; padding:0 }
nav ul { padding-bottom:0; float:none; display:none; background-color:rgba(0,0,0,0.50); }
nav li { border-top:solid 1px rgba(255,255,255,0.10); margin:0; display:block; float:none}
nav li a { width:100%; height:auto; line-height:40px; background:none; padding:0; border-radius:0px; }
#container { padding:15px 10px 10px 10px;} 

#footer  { line-height:30px; padding-top:15px; padding-bottom:13px; }
nav li a:before, nav li a:after { background:none}

}


@media only screen and (max-width: 400px), only screen and (max-device-width: 400px), only screen and (max-width: 400px) {

}
