/* Font  
========================================================================================*/	
body { -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; color:#6a6a6a; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:21px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Six Caps', sans-serif, Arial, Helvetica, sans-serif; }
nav, #footer { font-family: 'Homenaje', sans-serif, sans-serif, Arial, Helvetica, sans-serif; }

/* End Font  
========================================================================================*/

/* Branding  
========================================================================================*/
body { background:#03426B url(../img/body-bg.png) repeat 0 0; }
.bodyShadow { box-shadow:inset 0 0 70px rgba(000,000,000,0.3); position:fixed; left:0; top:0; height:100%; width:100%; z-index:-1}
.pageWidth { width:1000px; margin:0 auto; }

#logo { font-size:81px; color:#ffffff; line-height:100px; text-align:center; margin-bottom:43px; text-shadow:0 1px 0 rgba(0,0,0,0.40); text-transform:uppercase; border-bottom:none; } 

#header { padding:50px 0 0 0; }
header, nav, section, footer { display:block;}
/* END Branding  
========================================================================================*/

/* HEADING   
========================================================================================*/

h1, h2, h3, h4, h5 { color:#ffffff; text-transform:uppercase; border-bottom:solid 1px rgba(255,255,255,0.2);  }
h1 { font-size:60px; line-height:68px; }
h2 { font-size:60px; line-height:68px; margin-bottom:20px; padding-bottom:12px; }
h3 { font-size:50px; line-height:60px; margin-bottom:10px; padding-bottom:10px }
h4 { font-size:45px; line-height:50px; margin-bottom:8px; padding-bottom:5px; }
h5 { font-size:35px; line-height:50px; margin-bottom:8px; }
h6 { font-size:25px; line-height:25px; margin-bottom:8px; color:#FFF }

/* END  HEADING   
========================================================================================*/

/* Links AND Button   
========================================================================================*/
a:focus{ outline:none;}
a { text-decoration:none; color:#9d9d9d }
a:hover { color:#393939 }

/* Links AND Button   
========================================================================================*/

/* Main Navigation 
========================================================================================*/

nav { font-size:18px; line-height:20px; padding:12px 12px 0 12px; text-align:right; display:block;  transform: skew(-19deg);
	-webkit-transform: skew(-19deg);
	-moz-transform: skew(-19deg);
	-o-transform: skew(-19deg);
	-ms-transform: skew(-19deg); border-radius:10px 10px 0 0; margin:0 0 0 18px; }
nav ul { float:right }
nav li { text-align:center; float:left; margin-left:3px; vertical-align:top; }
nav li a {  color:#ffffff; border-radius:10px 10px 0 0; display:inline-block; min-width:60px; position:relative; overflow:hidden; line-height:40px; padding:6px 35px 0 29px;  vertical-align:top;  }
nav li a:hover, nav li.active a {  color:#ffffff; text-shadow:0 1px 1px rgba(0,0,0,0.50); }
nav li:first-child { background:none; }

nav li a:before , nav li a:after { padding:6px 35px 0 29px;   display:block; position:absolute; z-index:-1;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease; vertical-align:top; font-size:0px; content:'.';  top:0; left:0; right:0;  text-indent:0;  background:rgba(000,000,000,0.45); 
}


nav li a:after { top:-104%; }
nav li a:hover:before, nav li.active a:before { top:104%;  }
nav li a:hover:after, nav li.active a:after { top:0px;  background:rgba(255,255,255,0.20);  }
	
#menu { display:none; color:#ffffff; font-size:16px;  background-color:rgba(0,0,0,0.50); background-image:url(../img/menu-img.png); background-repeat:no-repeat; background-position:97% 14px; padding:15px 0 15px 3%; text-align:left; text-transform:uppercase  }

/* End Navigation 
========================================================================================*/
#banner { padding:0; margin-bottom:21px; }
#banner img { width:100%; border-radius:8px;} 

#container { background:rgba(000,000,000,0.80); border-radius:12px; box-shadow:0 0 30px rgba(255,255,255,0.02); padding:30px 30px 15px 30px; margin-bottom:15px; } 
article ul li { padding-left:15px; margin-bottom:3px; }
article ul li:before{ content:'B'; text-indent:-5px; font-weight:bold; font-size:60px; height:5px; line-height:5px; width:5px; border-radius:10px;  vertical-align:middle; float:left; margin:7px 0 0 -15px; overflow:hidden;}
article ol { margin-left:15px; }
article ol li { list-style:decimal; margin-bottom:3px; }

.pageControl{ 
transform: translate(0px, 0px);
-webkit-transform: translate(0px, 0px);
-moz-transform: translate(0px, 0px);
-o-transform: translate(0px, 0px);
-ms-transform: translate(0px, 0px);}

.activepage .pageControl{transform: translate(-1000px, 0px);
-webkit-transform: translate(-1000px, 0px);
-moz-transform: translate(-1000px, 0px);
-o-transform: translate(-1000px, 0px);
-ms-transform: translate(-1000px, 0px);

}

/* FORM 
========================================================================================*/
fieldset {}
/* Footer
===============================================*/
#footer {  background:rgba(000,000,000,0.45); border-radius:12px 10px 0 0; display:inline-block; padding:6px 41px 0 45px; line-height:54px; color:#FFF;
	 transform: skew(-19deg);
	-webkit-transform: skew(-19deg);
	-moz-transform: skew(-19deg);
	-o-transform: skew(-19deg);
	-ms-transform: skew(-19deg); }
.footerContainer { display:block; text-align:center }
/* transition
===============================================*/
#wrapper, #widecolumn, aside, nav li{transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s;}



