﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AttemptQuizPageKMS.aspx.cs" Inherits="AttemptQuizPage" MasterPageFile="~/Dashboard.master" %>

<%--<%@ Register Src="~/UC_attempt_quiz2.ascx" TagPrefix="uc1" TagName="UC_attempt_quiz2" %>--%>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>
<%@ Register Src="~/UC_LogOut.ascx" TagPrefix="uc1" TagName="UC_LogOut" %>
<%@ Register Src="~/UCKMS_Attempt.ascx" TagPrefix="uc1" TagName="UCKMS_Attempt" %>


<%--<%@ Register Src="~/UC_Attempt.ascx" TagPrefix="uc1" TagName="UC_Attempt" %>--%>



<%--
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>--%>
<asp:Content ContentPlaceHolderID="head" runat="server">
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <mt:MTPanel ID="___head_link_panel" runat="server"></mt:MTPanel>
      </asp:Content>
<%--</head>
<body>
    <form id="form1" runat="server">--%>
    <asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  <%--      <uc1:UC_LogOut runat="server" ID="UC_LogOut" />
       
       
        <uc1:UC_Attempt runat="server" id="UC_Attempt" />--%>
         <uc1:UCKMS_Attempt runat="server" id="UCKMS_Attempt" />
        </asp:Content>
   <%-- </form>
</body>
</html>--%>
