﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<%@ Register Src="~/UC_Attempt2.ascx" TagPrefix="uc1" TagName="UC_Attempt2" %>
<%@ Register Src="~/UCKMSchartjsResult.ascx" TagPrefix="uc1" TagName="UCKMSchartjsResult" %>



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">


    <title></title>
</head>
<body>
    

    <form id="form1" runat="server">

    <div>
        <br />
        <uc1:UC_Attempt2 runat="server" ID="UC_Attempt2" />
    </div>

      


    </form>



</body>
</html>
