﻿
<%@ Page language="C#" CodeFile="KMS_AddNewQuestionEvents.aspx.cs" Inherits="YouProQuiz_Beta.KMS_AddNewQuestion_Page" validateRequest="False"  MasterPageFile="~/Dashboard.master"   %>
<%--<%@ Register TagPrefix="YouProQuiz_Beta" TagName="UCKMS_AddNewQuestion2" Src="~/UCKMS/UCKMS_AddNewQuestion2.ascx" %>--%>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>
<%@ Register Src="~/UCKMS_AddNewQuestion3.ascx" TagPrefix="uc1" TagName="UCKMS_AddNewQuestion3" %>




<asp:Content ContentPlaceHolderID="head" runat="server">
    <meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990"><meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>AdminDashboard</title>


<script language="JavaScript" type="text/javascript">
    //Begin CCS script
    //Include Common JSFunctions @1-33862889
</script>
<script type="text/javascript" charset="utf-8" src='ClientI18N.aspx?file=globalize.js&amp;locale=<%#ResManager.GetString("CCS_LocaleID")%>'></script>
<script type="text/javascript">
    //End Include Common JSFunctions

    //Include User Scripts @1-DEAA4CDA
</script>
<%=Attributes["scriptIncludes"]%>
<script type="text/javascript">
    //End Include User Scripts

    //End CCS script
</script>

<mt:MTPanel ID="___head_link_panel" runat="server"></mt:MTPanel>
    </asp:Content>


<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Add More" />


&nbsp;
    <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Finish Editing Questions" />
    <br />
 <%--   <YouProQuiz_Beta:UCKMS_AddNewQuestion2 ID="UCKMS_AddNewQuestion2" runat="server"/>
--%>
    <uc1:UCKMS_AddNewQuestion3 runat="server" ID="UCKMS_AddNewQuestion3" />

<center><font face="Arial"><small>&#71;&#101;n&#101;r&#97;t&#101;d <!-- SCC -->w&#105;&#116;h <!-- CCS -->C&#111;&#100;e&#67;&#104;arg&#101; <!-- CCS -->&#83;&#116;udi&#111;.</small></font></center></body>


</asp:Content>