﻿<%--<!DOCTYPE HTML> <!--Doctype @1-EDBCE198-->--%>


<%@ Page language="C#" CodeFile="KMS_AddNewQuizEvents.aspx.cs" Inherits="YouProQuiz_Beta.KMS_AddNewQuiz_Page" MasterPageFile="~/Dashboard.master" %>
<%@ Register TagPrefix="YouProQuiz_Beta" TagName="UCKMS_AddNewQuiz" Src="~/UCKMS/UCKMS_AddNewQuiz.ascx" %>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>




<asp:Content ContentPlaceHolderID="head" runat="server">
    <meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990"><meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>AdminDashboard</title>


<script language="JavaScript" type="text/javascript">
    //Begin CCS script
    //Include Common JSFunctions @1-33862889
</script>
<script type="text/javascript" charset="utf-8" src='ClientI18N.aspx?file=globalize.js&amp;locale=<%#ResManager.GetString("CCS_LocaleID")%>'></script>
<script type="text/javascript">
    //End Include Common JSFunctions

    //Include User Scripts @1-DEAA4CDA
</script>
<%=Attributes["scriptIncludes"]%>
<script type="text/javascript">
    //End Include User Scripts

    //End CCS script
</script>

<mt:MTPanel ID="___head_link_panel" runat="server"></mt:MTPanel>
    </asp:Content>
<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<YouProQuiz_Beta:UCKMS_AddNewQuiz ID="UCKMS_AddNewQuiz" runat="server"/> 

<center><font face="Arial"><small>&#71;e&#110;&#101;&#114;&#97;te&#100; <!-- CCS -->w&#105;t&#104; <!-- CCS -->&#67;od&#101;Ch&#97;&#114;&#103;&#101; <!-- SCC -->St&#117;&#100;i&#111;.</small></font></center>
    </asp:Content>


