﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testingapi.aspx.cs" Inherits="testingapi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title></title>
</head>

    <script type="text/javascript">
     



 //    $(document).ready(productList());
        $(document).ready(function () {
            $.getJSON("api/values/",
           function (Data) {
               var a1=new Array();
               $.each(Data, function (key, val) {
                   var str = key +val;
                   $('<li/>', { text: str })

                   .appendTo($('#items'));
               });
           });
        });


        //function record_getch() {


        //    xid = params.QuizID;
        //    attempt_no = params.AttemptID;

        //    // var xid = 23;
        //    $.ajax({





        //        type: 'POST',
        //        url: 'localhost/YouProQuiz_Betamara/api/values',
        //        dataType: 'json',

        //        //filhal aesai 
        //        //will get the quiz_id from url after checking

        //        data: "",
        //        contentType: 'application/json; charset=utf-8',
        //        success: function (response) {
        //            // dget(response.d);
        //            xxx = response.d;
        //            //xxx.bb = response.d.bb;

        //            // alert(xxx);

        //            alert(xxx);

        //        },

        //        error: function (error) {
        //            //  alert("asdqwerqwdsadf3qwqwdsad");

        //            console.log(error);
        //        }

        //    });

        //}





</script>
    <div>
    <h1>Showing All Items </h1>
            <ul id="items"/>
        </div>
</html>
