﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UC_Attempt2.ascx.cs" Inherits="UC_Attempt2" %>
<%--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>--%>
<script src="Scripts/jquery-1.8.3-jquery.min.js"></script>
<script src="Scripts/json2.js"></script>

<%--<script src="Scripts/exporting.js"></script>
<script src="Scripts/highcharts.js"></script>--%>

<%--<script src="Scripts/resultShower.js"></script>--%>

<script src="dist/Chart.bundle.js"></script>
<script src="Scripts/resultShowerchart.js"></script>

<script src="Scripts/vars_intitializer.js"></script>

<script type="text/javascript">


    var params = {};

    if (location.search) {
        var parts = location.search.substring(1).split('&');

        for (var i = 0; i < parts.length; i++) {
            var nv = parts[i].split('=');
            if (!nv[0]) continue;
            params[nv[0]] = nv[1] || true;
        }
    }



    ///////////////////
    //////
    /////////////////









    //var quiz_data;
    //var tot_no_of_quest;
    //var tot_sections = 0;
    //var show_rnd = true;
    //var p;
    //var quest_timer = 0;
    //var counter = 0;
    //var chk;
    //var interval;
    //var time_alerts = new Array();
    //var attempt_no;
    //var questions_Arr = new Array();
    //var xid = 0;
    var sections;
    //var tot_sections;
    var section_time_counter;
    var sec_counter = 0;




    // Now you can get the parameters you want like so:
   







    $(function () {

        $("#container").hide();
        $("#next").hide();
        $("#lolx").hide();
        $("#next").click(function () {
            //  counter++;
            // Quiz_Loader();

            if (sections != null)

            {

                if (counter < sections[sec_counter].Sec_Questions.length - 1) {

                        //  alert('xx');
                        collector2();
                        counter++;
                        Quiz_Loader2();

                }
                    else {

                   
                        collector2();
                       // sections[sec_counter].time_taken = sections[sec_counter].Sec_Max_Time - section_time_counter;
                        if (sec_counter < sections.length) {

                            sec_counter++;
                            //  alert('adadwqrafa');
                            counter = 0;
                            section_time_counter = sections[sec_counter].Sec_Max_Time;

                            // formatSeconds(section_time_counter);


                            $('#sec_timer').append(section_time_counter);




                            Quiz_Loader2();
                        }

                }

            }

            
            else {

                collector();

                counter++;
                Quiz_Loader();
            }
        });




        $("#finisher").click(function () {
            //  counter++;
            // Quiz_Loader();


            GetResult();
            $("#container1").show();
            $("#main1").hide();
            $('#lolx').show();

        });







    });


    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////

    $(function () {
        $('#btnCallService').click(function () {

            //here we will get the quiz_id from parameter

            var abc = params.QuizID;

            xid = abc;

            $.ajax({

                type: 'POST',
                url: 'service_provider_page.aspx/VCheck',
                dataType: 'json',

                //filhal aesai 
                //will get the quiz_id from url after checking

                data: "{quiz_id:" + xid + "}",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    if (response.d[2] == null) {


                        dget(response.d);
                    }
                    else {

                        alert(response.d[2]);
                        history.back();
                      //  window.location = "./dashboard.aspx";
                    }
                    attempt_no = response.d[0];
                },

                error: function (error) {
                    //  alert("asdqwerqwdsadf3qwqwdsad");

                    console.log(error);
                }

            });

            function dget(x8) {

                $.ajax({

                    type: 'POST',
                    url: 'service_provider_page.aspx/Quiz_Loader',
                    dataType: 'json',
                    data: "{quiz:" + xid + ",chk:" + x8[0] + "}",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        //var abc=JSON.stringify(response);

                        tot_sections = response.d[0];
                        quiz_quests_data = response.d[1];
                        //  sections = response.d[0];

                        // alert(tot_sections.length);
                        //$('#quiz_det').append(quiz_data[0].quiz_id);
                        // Quiz_Loader(quiz_data);
                        //alert(quiz_data);
                        chk = "y";
                        tot_no_of_quest = response.d[1].length;
                        sections = response.d[0];
                        if (sections) {
                            tot_sections = response.d[0].length;
                           // alert(tot_sections);
                        }
                        if (tot_no_of_quest <= 0) {
                           // alert("you cannot attempt the current quiz");
                        }

                        else {
                            counter = 0;
                            p = quiz_quests_data;
                            sec_counter = 0;
                            // var curr = quiz_data.d[counter];

                            if (tot_sections > 0) {

                                Quiz_Loader2();
                                section_time_counter = sections[sec_counter].Sec_Max_Time;
                            }
                            else {
                                Quiz_Loader();

                            }




                            $('#btnCallService').hide();
                            $('#next').show();
                            $('#finisher').show();
                            // $('#lolx').hide();

                            interval = setInterval(function () {
                                if (sections) {
                                    if (sections.length > 0) {
                                        // alert("1God is great");

                                        if (sec_counter < sections.length) {
                                            if (section_time_counter > 0 && counter < sections[sec_counter].Sec_Questions.length) {
                                                $('#sec_timer').empty();
                                                section_time_counter--;

                                                var hms1 = rectime(section_time_counter);

                                                // alert(zst);

                                                $('#sec_timer').append(hms1);

                                                if (quest_timer > 0) {
                                                    $('#timer').empty();
                                                    quest_timer--;
                                                    var hms2 = rectime(quest_timer);

                                                    $('#timer').append(hms2);

                                                }
                                                else {
                                                    collector2();

                                                    if (counter < sections[sec_counter].Sec_Questions.length - 1) {

                                                        //  alert('xx');
                                                     
                                                        counter++;
                                                     
                                                    }
                                                    else {

                                                        sec_counter++;
                                                        counter = 0;
                                                    


                                                    }
                                                    Quiz_Loader2();

                                                }


                                            }
                                                /////////////////
                                            else {
                                                //  alert("ww");

                                                //  responder(questions_Arr2);


                                                collector2();
                                                sections[sec_counter].time_taken = sections[sec_counter].Sec_Max_Time - section_time_counter;
                                                sec_counter++;
                                                //  alert('adadwqrafa');
                                                counter = 0;
                                                section_time_counter = sections[sec_counter].Sec_Max_Time;

                                                // formatSeconds(section_time_counter);


                                                

                                                $('#sec_timer').append(rectime(section_time_counter));
                                                Quiz_Loader2();




                                            }
                                        }
                                        else {
                                            clearInterval(interval);
                                            responder(questions_Arr2);
                                            GetResult();
                                            $("#container1").show();
                                            $("#main1").hide();
                                            $('#lolx').show();


                                        }
                                    }
                                }
                                    ///////////////////////////////
                                else {

                                    //  alert("12God is great");

                                    if (counter < tot_no_of_quest) {
                                        if (chk == "y") {
                                            if (quest_timer > 0) {
                                                $('#timer').empty();
                                                quest_timer--;


                                                $('#timer').append(rectime(quest_timer));

                                            }
                                            else {

                                                collector();

                                                counter++;
                                                Quiz_Loader();
                                            }
                                        }
                                    }


                                    else {

                                        responder(questions_Arr);
                                        //alert(time_alerts[0] + "," + time_alerts[1] + "," + time_alerts[2]);
                                        clearInterval(interval);
                                        GetResult();
                                        $("#container1").show();
                                        $("#main1").hide();
                                        $('#lolx').show();

                                    }
                                }
                            }, 1000);


                        }
                    },
                    error: function (error) {
                        //  alert("asdqwerqwdsadf3qwqwdsad");

                        console.log(error);
                    }

                });
            }

        });
    });




    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////



    function next() {
        //  if (quest_num > 0 && quest_timer > 0) {

        counter++;
        Quiz_Loader();





    }


    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////



    curr_counter = 0;
    var x1 = new Date();

    function Quiz_Loader() {
        //  counter++;

        if (tot_sections > 0) {

            Quiz_Loader2();
        }
        else {

            $('#QuestionChoices').empty();

            $('#QuestionText').empty();

            quest_time = 0;
            quest_name = "";
            var quest_text;





            quest_time = p[counter].time_given;

            quest_timer = quest_time;

            $('#timer').empty();




            $('#timer').append(rectime(quest_timer));

            //alert(quest_timer);
            quest_name = p[counter].question_name;
            quest_text = p[counter].question_text;


            $('#QuestionText').append(quest_text);

            /////////////////////////////////////////////////////////////////////


            d1 = new Date();
            // d is "Sun Oct 13 2013 20:32:01 GMT+0530 (India Standard Time)"
            x1 = d1;


            ///////////////////////////////////////////////////////////////////////

            for (z = 0; z < p[counter].answers_of_question.length; z++) {

                $('#QuestionChoices').append(p[counter].answers_of_question[z] + '<br>');

            }
            // $('#timer').empty();

        }
    }


    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////







    function Quiz_Loader2() {
        //  counter++;

        // alert("dsadsadasdasd");
        $('#QuestionChoices').empty();

        $('#QuestionText').empty();
        // section_time_counter = sections[sec_counter].Sec_Max_Time;


        // y = sections[sec_counter].Sec_Max_Time;

        $('#sec_timer').empty();

        $('#sec_timer').append(rectime(section_time_counter));

        var x = sections[sec_counter].Sec_Questions[counter];
       // alert(sec_counter);
       // alert(x);
        var result = $.grep(p, function (e) { return e.question_id == x; });
        //  alert(result[0].answers_of_question.length);

        quest_time = 0;
        quest_name = "";
        var quest_text;

        // alert("WAHA");
        // alert(x);
        // alert(result[counter].time_given);
        quest_time = result[0].time_given;
        quest_timer = quest_time;
        $('#timer').empty();
        $('#timer').append(rectime(quest_timer));
        //  alert(quest_timer);
        quest_name = result[0].question_name;
        quest_text = result[0].question_text;
        $('#QuestionText').append(quest_text);
        ///////////////////////////////////////////////////////////////////////
        d1 = new Date();
        //// d is "Sun Oct 13 2013 20:32:01 GMT+0530 (India Standard Time)"
        //x1 = d1;
        /////////////////////////////////////////////////////////////////////////
        for (z = 0; z < result[0].answers_of_question.length; z++) {
            $('#QuestionChoices').append(result[0].answers_of_question[z] + '<br>');
        }
        //// $('#timer').empty();

    }

    function collector() {
        var questionAttempted = new Object;
        questionAttempted["quest_id"] = p[counter].question_id;
        questionAttempted["quiz_id"] = p[counter].quiz_id;
        questionAttempted["quiz_attempt_id"] = attempt_no;
        var no_of_answ = p[counter].answers_of_question.length
        var ans_type = p[counter].single_or_multiple;


        var panel = $("#QuestionChoices");
        var selected_answ_of_this_quest = new Array();
        if (ans_type == "SingleChoice") {

            var inputs = panel.find("input:radio");
            for (var a = 0; a < inputs.length; a++) {
                //alert(inputs[a].id);
                //var z = inputs[a].id;
                if (inputs[a].checked) {
                    //  alert('ye answer');
                    selected_answ_of_this_quest.push(inputs[a].value);
                    // alert(selected_answ_of_this_quest[a]);
                    //  alert("x");
                    //console.log(z);
                }

            }


        }
        else {

            var inputs = panel.find("input:checkbox");
            for (var a = 0; a < inputs.length; a++) {
                //alert(inputs[a].id);
                if (inputs[a].checked) {
                    //  alert('wo answer');
                    selected_answ_of_this_quest.push(inputs[a].value);
                    // alert(selected_answ_of_this_quest[a]);
                    //  alert("x");
                    //console.log(z);
                }

                // alert(selected_answ_of_this_quest[a]);
            }

        }


        questionAttempted["answers_given"] = selected_answ_of_this_quest;
        p[counter].answers_given = selected_answ_of_this_quest;
        //questionAttempted["time_loaded"] = x1;


        ///////////////////////////////////////////////////////////

        d2 = new Date();
        // d is "Sun Oct 13 2013 20:32:01 GMT+0530 (India Standard Time)"
        // datetext = d.toTimeString();
        // // datestring is "20:32:01 GMT+0530 (India Standard Time)"
        // // Split with ' ' and we get: ["20:32:01", "GMT+0530", "(India", "Standard", "Time)"]
        // // Take the first value from array :)
        // datetext = datetext.split(' ')[0];
        // x2 = datetext;
        //// alert(datetext);



        ///////////////////////////////////////////////////
        // alert(selected_answ_of_this_quest[0]);

        //  Time2 = new Date(),
        Diff = new Date();
        Diff.setHours(d2.getHours() - d1.getHours());
        Diff.setMinutes(d2.getMinutes() - d1.getMinutes());
        Diff.setSeconds(d2.getSeconds() - d1.getSeconds());
        // Diff = d2.toTimeString() - d1.toTimeString();
        // Diff = Diff.split(' ')[0];
        // Diff;

        // alert(questionAttempted["delta"]);

        var seconds = Diff.getSeconds();
        //alert(Diff.toLocaleString());
        p[counter].quiz_attempt_id = attempt_no;
        questionAttempted["delta"] = seconds;
        p[counter].delta = seconds;

        //responder(questionAttempted);
        //  questions_Arr.push(questionAttempted);
        questions_Arr.push(p[counter]);

    }


    function collector2() {


        var x = sections[sec_counter].Sec_Questions[counter];
        // var result = $.grep(p, function (e) { return e.question_id == x; });


        Array.prototype.getIndexBy = function (name, value) {
            for (var i = 0; i < this.length; i++) {
                if (this[i][name] == value) {
                    return i;
                }
            }
            return -1;
        }

        questionAttempted = p[p.getIndexBy("question_id", x)];


        //var ind = indexes[0];
        // alert(ind);

        //var questionAttempted = result;

        //questionAttempted["quest_id"] = p[counter].question_id;
        //questionAttempted["quiz_id"] = p[counter].quiz_id;
        //questionAttempted["quiz_attempt_id"] = attempt_no;
        var no_of_answers = questionAttempted.answers_of_question.length;
        var ans_type = questionAttempted.single_or_multiple;


        var panel = $("#QuestionChoices");
        var selected_answ_of_this_quest = new Array();
        if (ans_type == "SingleChoice") {

            var inputs = panel.find("input:radio");
            for (var a = 0; a < inputs.length; a++) {
                //alert(inputs[a].id);
                //var z = inputs[a].id;
                if (inputs[a].checked) {
                    //  alert('ye answer');
                    selected_answ_of_this_quest.push(inputs[a].value);
                    // alert(selected_answ_of_this_quest[a]);
                    //  alert("x");
                    //console.log(z);
                }

            }


        }
        else {

            var inputs = panel.find("input:checkbox");
            for (var a = 0; a < inputs.length; a++) {
                //alert(inputs[a].id);
                if (inputs[a].checked) {
                    //  alert('wo answer');
                    selected_answ_of_this_quest.push(inputs[a].value);
                    // alert(selected_answ_of_this_quest[a]);
                    //  alert("x");
                    //console.log(z);
                }

                // alert(selected_answ_of_this_quest[a]);
            }

        }


        if (selected_answ_of_this_quest.length <= 0)
        {
            selected_answ_of_this_quest.push(0);
            selected_answ_of_this_quest.push(0);

            alert(selected_answ_of_this_quest[0]);
        }

        questionAttempted.answers_given = selected_answ_of_this_quest;
        // questionAttempted.answers_given = selected_answ_of_this_quest;
        //questionAttempted["time_loaded"] = x1;
        // alert(questionAttempted);

        ///////////////////////////////////////////////////////////

        d2 = new Date();
        // d is "Sun Oct 13 2013 20:32:01 GMT+0530 (India Standard Time)"
        // datetext = d.toTimeString();
        // // datestring is "20:32:01 GMT+0530 (India Standard Time)"
        // // Split with ' ' and we get: ["20:32:01", "GMT+0530", "(India", "Standard", "Time)"]
        // // Take the first value from array :)
        // datetext = datetext.split(' ')[0];
        // x2 = datetext;
        //// alert(datetext);



        ///////////////////////////////////////////////////
        // alert(selected_answ_of_this_quest[0]);

        //  Time2 = new Date(),
        Diff = new Date();
        Diff.setHours(d2.getHours() - d1.getHours());
        Diff.setMinutes(d2.getMinutes() - d1.getMinutes());
        Diff.setSeconds(d2.getSeconds() - d1.getSeconds());
        // Diff = d2.toTimeString() - d1.toTimeString();
        // Diff = Diff.split(' ')[0];
        // Diff;

        // alert(questionAttempted["delta"]);

        var seconds = Diff.getSeconds();
        //alert(Diff.toLocaleString());
        questionAttempted.quiz_attempt_id = attempt_no;
        // questionAttempted["delta"] = seconds;
        questionAttempted.delta = seconds;

        //responder(questionAttempted);
        //  questions_Arr.push(questionAttempted);
        questions_Arr2.push(questionAttempted);

        //  alert(questionAttempted.delta);


    }


    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////

    function responder(objx) {

        $.ajax({
            type: 'POST',
            url: 'service_provider_page.aspx/ResponseCollecter',
            dataType: 'json',
            data: "{questionAttempted:" + JSON.stringify(objx) + ",SectionData:" + JSON.stringify(sections) + "}",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //var abc=JSON.stringify(response);

                var x = response.d;
               // alert(x);
                //$('#quiz_det').append(quiz_data[0].quiz_id);
                // Quiz_Loader(quiz_data);
                //alert(quiz_data);
                //chk = "y";
                //tot_no_of_quest = response.d.length;
                //counter = 0;
                //p = quiz_quests_data
                //// var curr = quiz_data.d[counter];
                //Quiz_Loader();

                //alert(x);

                //time_alerts.push(x);

                //$('#btnCallService').hide();
                //$('#next').show();
            },
            error: function (error) {
                console.log(error);
            }
        });
    };


    //////////////////////////////////////////////////////////////
    ///////////////////////////////
    /////////////

    
    function rectime(sec) {
        var hr = Math.floor(sec / 3600);
        var min = Math.floor((sec - (hr * 3600)) / 60);
        sec -= ((hr * 3600) + (min * 60));
        sec += ''; min += '';
        while (min.length < 2) { min = '0' + min; }
        while (sec.length < 2) { sec = '0' + sec; }
        hr = (hr) ? ':' + hr : '';
        return hr + min + ':' + sec;
    }


</script>

<div id="main1">

    <h1 id="quiz_det">this is quiz abc</h1>
    <input type="button" id="btnCallService" value="Let's Begin" />
    <div id="sec_timer"></div>
    <div id="Question">
        <label id="timer"></label>
        <div id="QuestionType"></div>
        <div id="QuestionText"></div>
        <div id="QuestionChoices"></div>

    </div>

    <div id="aaa">
        <div id="QuestionShower"></div>

    </div>
    <input type="button" id="next" value="Next" />
    <p>
        <input type="button" id="finisher" value="I Quit!" />

        &nbsp;
    </p>

</div>
<div id="lolx">
     
       
      
       

      
            <center><table><tr><td><h1 style="color:orange;">Current Score  </h1></td><td><h1 id="User_Overall_Percentage_of_Attempt"></h1></td></tr></table></center>
    <center><table><tr><td><h3 style="color:blue;">Net Score</h3></td><td><h3 id="User_Overall_Percentage_of_quiz"></h3></td></tr></table></center>
    <center><table><tr><td><h3 style="color:darkseagreen;">Best Score</h3></td><td><h3 id="Best_Score"></h3></td></tr></table></center>
    <center style="margin-bottom: -15px;"><table><tr><td><h3 style="color:blue;">Avg Score</h3></td><td><h3 id="Avg_Score"></h3></td></tr></table></center>
        

            <table style="width:inherit">
                <tr><td>    
                    </td>
<td >                </td><td>
     </td>
                
                </tr>
       </table>
    <center>   <%-- <div style="width:75%;">
    <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <hr />
    <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <hr />
        <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

        <div id="container" style="width: 75%; height:50%;">
      


            </div>--%>


        <div style="width: 75%; height:50%;">
          <canvas id="canvas1"></canvas>
          
            <canvas id="canvas2"></canvas>
      
               <canvas id="canvas3" ></canvas>
             </div>          
     </center>
</div>

