﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UC_LeaderBoard.ascx.cs" Inherits="UC_LeaderBoard" %>


 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <div class="container">
<div class="col-lg-12">
   
    <br/>
    <br/>
    
               <div class="panel panel-primary">
              <div class="panel-heading"> 
    <h3 class="panel-title">LeaderBoard</h3> </div>
               <div class="panel-body"> 
                
<asp:Panel ID="Panel1" runat="server"></asp:Panel>
                
                      </div>
         </div>
         </div>
    </div>