<!--ASCX page header @1-F959E4A1-->
<%@ Control language="C#" CodeFile="UC_LogOutEvents.ascx.cs" Inherits="YouProQuiz_Beta.UC_LogOut_Page"  %>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>
<!--End ASCX page header-->

<!--ASCX page @1-F56BE935-->



<mt:MTPanel ID="___link_panel_039986263065542277" runat="server">
</mt:MTPanel>

<mt:MTPanel ID="___link_panel_04881343379793209" runat="server">
</mt:MTPanel>

<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-33862889
</script>
<script type="text/javascript" charset="utf-8" src='ClientI18N.aspx?file=globalize.js&amp;locale=<%#ResManager.GetString("CCS_LocaleID")%>'></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-12EF267B
</script>
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
&nbsp;



<mt:MTLink Text="Logout" OnLoad="Logout_Load" ID="Logout" data-id="UC_LogOutLogout" runat="server" HrefSource="~/Home.aspx" PreserveParameters="Get"><Parameters>
</Parameters></mt:MTLink>



<!--End ASCX page-->

