﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_Timer_for_Quiz.ascx.cs" Inherits="YouQuizPro.UC_Timer_for_Quiz" %>
 


<asp:Timer ID="Timer1" runat="server" Interval="500" OnTick="Timer1_Tick"></asp:Timer>
<asp:UpdatePanel ID="UpdatePanel2a" runat="server" 
 UpdateMode="Conditional">
 <ContentTemplate>
 <asp:Label ID="Label2" runat="server" ForeColor="red" />
 </ContentTemplate>

 </asp:UpdatePanel>