<!DOCTYPE HTML> <!--Doctype @1-EDBCE198-->

<!--ASPX page header @1-8D058389-->
<%@ Page language="C#" CodeFile="UC_UserRecordDetailsEvents.aspx.cs" Inherits="YouProQuiz_Beta.UC_UserRecordDetails_Page"  %>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>
<!--End ASPX page header-->

<!--ASPX page @1-12ACA138-->
<html>
<head>
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990"><meta http-equiv="content-type" content="text/html; charset=utf-8">


<title>UC_UserRecordDetails</title>

<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-33862889
</script>
<script src='ClientI18N.aspx?file=globalize.js&locale=<%#ResManager.GetString("CCS_LocaleID")%>' type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-DEAA4CDA
</script>
<%=Attributes["scriptIncludes"]%>
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>

<mt:MTPanel ID="___head_link_panel" runat="server"></mt:MTPanel>
</head>
<body>
<form id="Form1" runat="server" data-need-form-emulation="data-need-form-emulation">



</form>
<center><font face="Arial"><small>Ge&#110;era&#116;&#101;&#100; <!-- SCC -->&#119;it&#104; <!-- CCS -->&#67;od&#101;&#67;ha&#114;&#103;&#101; <!-- SCC -->&#83;tu&#100;io.</small></font></center></body>
</html>

<!--End ASPX page-->

