﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UCKMS_Attempt.ascx.cs" Inherits="UCKMS_Attempt" %>

<script>


    $(document).ready(abc());

    function abc() {

        $.ajax({
            type: 'POST',
            url: 'WebService.asmx/HelloWorld',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                empData: emp
            }),
            success: function (reponse) {
                alert(response);

            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    </script>


<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="true">
</asp:ScriptManager>

          <br />

          <asp:PlaceHolder ID="PlaceHolder3" runat="server"></asp:PlaceHolder>

 <br />
<br />
<br />
<br />
<asp:UpdatePanel ID="UpdatePanel3" runat="server" UpdateMode="Conditional">
         <Triggers>
                <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
            </Triggers>
    <ContentTemplate>
        <asp:Timer ID="Timer1" runat="server" Interval="1000" OnTick="ticker">
        </asp:Timer>
    </ContentTemplate>
</asp:UpdatePanel>
<br />
<br />
<br />

 <asp:UpdatePanel ID="UpdatePanel2" runat="server"
 UpdateMode="Conditional">
 <ContentTemplate>
     <asp:Button ID="Button1" runat="server" Text="Let's begin" OnClick="Button1_Click" />
         <h1><asp:Label ID="Label1" runat="server" Text="Time Left"></asp:Label></h1>
 </ContentTemplate>
     <Triggers>
         <asp:AsyncPostBackTrigger ControlID="Button1" EventName="Click" />
     </Triggers>
 </asp:UpdatePanel>


<asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
    <ContentTemplate>
     
     <h2><asp:Label ID="Label2" runat="server" Text="Category"></asp:Label></h2>
     
          <p>
              <asp:Label ID="Label3" runat="server" Text="Type"></asp:Label>
          </p>
     
     <h3>Question No:<asp:Label ID="Label4" runat="server" Text="0"></asp:Label></h3>
    <div>
      <asp:PlaceHolder ID="PlaceHolder2" runat="server"></asp:PlaceHolder>
   </div>  
         <br />
          <br />
          <br />
          <asp:Button ID="Button2" runat="server" Text="Next" Visible="False" OnClick="Button2_Click" />
          
    </ContentTemplate>

</asp:UpdatePanel>
 

<h3>  <asp:Button ID="Button3" runat="server" Text="Done Enough!!!Quit the quiz" /></h3>

