﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UCKMSchartjsResult.ascx.cs" Inherits="uc_chartjsresult" %>


   <script src="dist/Chart.bundle.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>



           <center>
                <h1 id="QuizID" style="color:royalblue;"></h1>
                <h1 id="QuizTitle" style="color:royalblue;"></h1>
                <table><tr><td><h1 style="color:orange;">Current Score  </h1></td><td><h1 id="User_Overall_Percentage_of_Attempt"></h1></td></tr></table></center>
    <center><table><tr><td><h3 style="color:blue;">Net Score</h3></td><td><h3 id="User_Overall_Percentage_of_quiz"></h3></td></tr></table></center>
    <center><table><tr><td><h3 style="color:darkseagreen;">Best Score</h3></td><td><h3 id="Best_Score"></h3></td></tr></table></center>
    <center style="margin-bottom: -15px;"><table><tr><td><h3 style="color:blue;">Avg Score</h3></td><td><h3 id="Avg_Score"></h3></td></tr></table></center>
        

<center>
  <div id="container" style="width: 75%; height:50%;">
        <canvas id="canvas"></canvas>

      <br />
      <br />
      <br />
         <canvas id="canvas1"></canvas>
    

         <canvas id="canvas2"></canvas>

       <canvas id="canvas5"></canvas>
    </div>
    </center>

    

    <script>
      //  var abc = new Array();
        
        var params = {};

        if (location.search) {
            var parts = location.search.substring(1).split('&');

            for (var i = 0; i < parts.length; i++) {
                var nv = parts[i].split('=');
                if (!nv[0]) continue;
                params[nv[0]] = nv[1] || true;
            }
        }






        $(window).load(record_getch());
   
    
        var xxx = new Object();

        //points for current setup;



        function record_getch() {


            xid = params.QuizID;
            attempt_no = params.AttemptID;

            // var xid = 23;
            $.ajax({


        


                type: 'POST',
                url: 'service_provider_page.aspx/Result_Maker2',
                dataType: 'json',

                //filhal aesai 
                //will get the quiz_id from url after checking

                data: "{quiz_id:" + xid + ",attempt:" + attempt_no + "}",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    // dget(response.d);
                    xxx = response.d;
                    //xxx.bb = response.d.bb;
               
                    // alert(xxx);

                    res();

                    USRpoints = xxx.bb;
                    TOTquests = xxx.aa;

                    avg_points_for_curr_usr_arr = USRpoints;
                    avg_points_overall_arr = USRpoints;
                    arr1 = TOTquests;

                },

                error: function (error) {
                    //  alert("asdqwerqwdsadf3qwqwdsad");

                    console.log(error);
                }

            });

        }

        function res() {



            ////arr1 is the question number of the current quiz attempted by the user
            // avg_points_overall_arr = new Array();
            Users_Avg_Score = new Array();
            arr1 = new Array();
            Overall_Avg_Score = new Array();
            Best_Avg_Score = new Array();
            Curr_Attempt_Score = new Array();
            Curr_Attempt_Time = new Array();
            average_time_taken_curr_usr = new Array();
            average_time_taken_all_usr = new Array();

           // alert("God is great");
           // alert(Overall_Avg_Score);

            xxx = JSON.parse(xxx);

            var best_score = xxx.Best_Overall_Percentage_of_Current_Quiz;
            var avg_score = xxx.Avg_Overall_Percentage_of_Current_Quiz;
            var curr_user_score = xxx.User_Overall_Percentage_of_Current_Quiz;
            var zz = xxx.User_Overall_Percentage_of_Current_Attempt;

            $('#User_Overall_Percentage_of_Attempt').html(zz + '%');
            $('#User_Overall_Percentage_of_quiz').html(curr_user_score + '%');

            // $('#Best_Score').html(best_score + '%');

            $('#Best_Score').html(best_score + '% <br> by ' + xxx.Best_scorer_Name);
            $('#Avg_Score').html(avg_score + '%');
            $('#QuizID').html("Quiz ID:" + xxx.QuizID + "");
            $('#QuizTitle').html("Result for Attempt No:" + xxx.AttemptID + "");

            //  arr1 = xxx.aa;
           // alert(xxx.Questions.length);
            arr1.push(" ");
            Curr_Attempt_Score.push(0);
            Users_Avg_Score.push(0);
            Overall_Avg_Score.push(0);
            Best_Avg_Score.push(0);
            Curr_Attempt_Time.push(0);
            average_time_taken_curr_usr.push(0);
            average_time_taken_all_usr.push(0);


            for (var x = 0; x<xxx.Questions.length; x++) {
                arr1.push(xxx.Questions[x]);
                Users_Avg_Score.push(xxx.User_Scores[x]);

                Overall_Avg_Score.push(xxx.Avg_Scores[x]);
                //alert(Overall_Avg_Score[x]);
                Best_Avg_Score.push(xxx.Best_Scores[x]);
                Curr_Attempt_Score.push(xxx.User_Scores_For_Current_Attempt[x]);
                Curr_Attempt_Time.push(xxx.time_taken_for_last_attempt_curr_user[x]);
                average_time_taken_curr_usr.push(xxx.average_time_taken_curr_usr[x]);
                average_time_taken_all_usr.push(xxx.average_time_taken_all_usr[x]);
            }


       





         //   if (xxx.curr_quiz_section.length > 0) {
            //    curr_quiz_section = new Array();
            //    curr_quiz_section_curr_user_avg = new Array();
            //    for (var y = 0; y < xxx.curr_quiz_section.length; y++) {
            //        curr_quiz_section.push(xxx.curr_quiz_section[y]);
            //        curr_quiz_section_curr_user_avg.push(xxx.curr_quiz_section_curr_user_avg[y]);

            //    }
            //}

            ///////////////////////////////////////////
            ///////////////////////////////////
            /////////////


           // alert(Best_Avg_Score[0]);


            var randomColorFactor = function () {
                return Math.round(Math.random(100,200,300)* 255);
            };
            var randomColor = function () {
                return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.4)';
            };


            //abc = new Array();
     



         





            //Chart.Scale = Chart.Scale.extend({
            //    calculateX: function (index) {
            //        //check to ensure data is in chart otherwise we will get inifinity
            //        if (!(this.valuesCount - (this.offsetGridLines ? 0 : 1))) {
            //            return 0;
            //        }
            //        var isRotated = (this.xLabelRotation > 0),
            //            // innerWidth = (this.offsetGridLines) ? this.width - offsetLeft - this.padding : this.width - (offsetLeft + halfLabelWidth * 2) - this.padding,
            //            innerWidth = this.width - (this.xScalePaddingLeft + this.xScalePaddingRight),
            //            valueWidth = this.valuesCount === 0 ? 0 : innerWidth / (this.valuesCount - ((this.offsetGridLines) ? 0 : 1)),
            //            valueOffset = (valueWidth * index) + this.xScalePaddingLeft;

            //        if (this.offsetGridLines) {
            //            valueOffset += (valueWidth / 2);
            //        }

            //        return Math.round(valueOffset);
            //    },
            //});









            ////////////////////////////////////////////
            //////////////
            var ctx = document.getElementById("canvas5");

            var data = {
                labels:arr1,
                datasets: [

                    
                    {
                        label: "Best Scores",
                        backgroundColor: "rgba(2, 181, 208, 1)",
                        borderColor: "rgba(255,99,132,1)",
                        borderWidth: 0.2,
                        hoverBackgroundColor: "rgba(200,99,132,0.8)",
                        hoverBorderColor: "rgba(200,99,132,1)",
                        data: Best_Avg_Score,
                        options: {
                            scale: {
                                reverse: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                            borderWidth:0.5
                        }

                    },


                   // name: 'Best Scores',
                //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
              

            

                    {
                        label: "Overall Average",
                        backgroundColor: "rgba(0, 0, 0, 0.8)",
                        borderColor: "rgba(255,99,132,1)",
                        borderWidth: 0.2,
                        hoverBackgroundColor: "rgba(200,99,132,0.4)",
                        hoverBorderColor: "rgba(200,99,132,1)",
                        data: Overall_Avg_Score,
                            //Overall_Avg_Score

                        options: {
                            scale: {
                                reverse: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }
                    },


                       {
                           label: "Current User's Avg Score",
                           backgroundColor: "rgba(27, 158, 21, 0.64)",
                           borderColor: "rgba(255,99,132,1)",
                           borderWidth: 0.2,
                           hoverBackgroundColor: "rgba(200,99,132,0.4)",
                           hoverBorderColor: "rgba(200,99,132,1)",
                           data: Users_Avg_Score,

                           options: {
                               scale: {
                                   reverse: true,
                                   ticks: {
                                       beginAtZero: true
                                   }
                               }
                           }
                       },







                    {
                        label: "Current Attempt",
                        backgroundColor: "rgba(235, 163, 55, 1)",
                        borderColor: 'white',
                        borderWidth: 0.2,
                        width:20,
                        hoverBackgroundColor: "rgba(200,99,132,0.1)",
                        hoverBorderColor: "rgba(200,99,132,1)",
                        data: Curr_Attempt_Score,

                        options: {
                            scale: {
                                reverse: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }

                   
                    }
               

             



                ]
            };

           

            var myBarChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: data,
               
                minimum:0
                

            });

            ////////////////////////////
            //////////////////////////////////////////////////////





            var horizontalBarChartData = {
                labels:arr1,
                datasets: [{
                    label: "Best Scores",
                    backgroundColor: "rgba(2, 181, 208, 1)",
                    data: Best_Avg_Score   //[randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

                    ,options: {
                            scale: {
                                reverse: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }

                   
                    



                }, {
                    hidden: true,
                    label: "Overall Average",
                    backgroundColor: "rgba(0, 0, 0, 0.8)",
                    data: Overall_Avg_Score//[randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

                          , options: {
                              scale: {
                                  reverse: true,
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }
                          }



                }, {
                    label: "Current User's Avg Score",
                    backgroundColor: "rgba(27, 158, 21, 0.64)",
                    data: Users_Avg_Score //[randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]


                          , options: {
                              scale: {
                                  reverse: true,
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }
                          }



                },
                {
                    label: "Current Attempt",
                    backgroundColor: "rgba(235, 163, 55, 1)",
                    data: Curr_Attempt_Score //[randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]


                          , options: {
                              scale: {
                                  reverse: true,
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }
                          }

                }
                ]

            };

          // window.onload = function () {
                var ctxb = document.getElementById("canvas").getContext("2d");
                window.myHorizontalBar = new Chart(ctxb, {
                    type: 'horizontalBar',
                    data: horizontalBarChartData,
                    options: {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each horizontal bar to be 2px wide and green
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                                borderColor: 'rgb(10, 10, 0,0.4)',
                                borderSkipped: 'left'
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'top',

                        },
                        title: {
                            display: true,
                            text: 'points/Questions'
                        }
                    
                    }
                });

           // };

























            //var ctx1 = document.getElementById("canvas1");

            //var data1 = {
            //    labels: arr1,
            //    datasets: [


            //        {
            //            label: "Best Scores",
            //            backgroundColor: randomColor(),
            //            borderColor: "rgba(255,99,132,1)",
            //            borderWidth: 0,
            //            hoverBackgroundColor: "rgba(200,99,132,0.8)",
            //            hoverBorderColor: "rgba(200,99,132,1)",
            //            data: Best_Avg_Score

            //        },


            //       // name: 'Best Scores',
            //    //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]



            //        {
            //            label: "Current Attempt",
            //            backgroundColor: randomColor(),
            //            borderColor: 'white',
            //            borderWidth: 0,
                       
            //            hoverBackgroundColor: "rgba(200,99,132,0.1)",
            //            hoverBorderColor: "rgba(200,99,132,1)",
            //            data: Curr_Attempt_Score

            //        }
            //    ,


            //        {
            //            label: "Overall Average",
            //            backgroundColor: randomColor(),
            //            borderColor: "rgba(255,99,132,1)",
            //            borderWidth: 0,
            //            hoverBackgroundColor: "rgba(200,99,132,0.4)",
            //            hoverBorderColor: "rgba(200,99,132,1)",
            //            data: Overall_Avg_Score

            //        }





            //    ]
            //};


            //var myBarChart = new Chart(ctx1, {
            //    type: 'horizontalBar',
            //    data: data1

            //});

            /////////////////////////////////////////////////////////
            ///////////////////////////




            var MONTHS = arr1; // ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];


            var config = {
                type: 'bar',
                
                data: {
                    labels: arr1,
                    datasets: [{
                        label: "Current Attempt Time of Current User",
                        data: Curr_Attempt_Time,
                        fill: false,
                    }, {
                        label: "Average Attempt Time of Current User",
                        data:average_time_taken_curr_usr,
                        fill: false,
                        borderDash: [5, 5],
                    },
                {
                    label: "Overall Average Attempt Time",
                    data: average_time_taken_all_usr,
                    fill: false,
                }
                       

                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom',
                    },
                    hover: {
                        mode: 'label'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Questions'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time in seconds'
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Legend'
                    }
                }
            };

            $.each(config.data.datasets, function (i, dataset) {
                var background = randomColor(0.5);
                dataset.borderColor = background;
                dataset.backgroundColor = background;
                dataset.pointBorderColor = background;
                dataset.pointBackgroundColor = background;
                dataset.pointBorderWidth = 1;
            });

          
                var ctx1 = document.getElementById("canvas1").getContext("2d");
                window.myLine = new Chart(ctx1, config);
            


                if (xxx.curr_quiz_section.length > 0) {
                    curr_quiz_section = new Array();
                    curr_quiz_section_curr_user_avg = new Array();
                    for (var y = 0; y < xxx.curr_quiz_section.length; y++) {
                        curr_quiz_section.push(xxx.curr_quiz_section[y]);
                        curr_quiz_section_curr_user_avg.push(xxx.curr_quiz_section_curr_user_avg[y]);

                        forsection();
                    }



                }
                else {

                    $("#container3").hide();
                }


                function forsection()
                {
                    var MONTHS = arr1; // ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];



                    var config1 = {
                        type: 'bar',

                        data: {
                            labels: curr_quiz_section,
                            datasets: [{
                                label: "Current Attempt Time of Current User",
                                data: curr_quiz_section_curr_user_avg,
                                fill: false,
                            }


                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'bottom',
                            },
                            hover: {
                                mode: 'label'
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Questions'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Time in seconds'
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: 'Chart.js Line Chart - Legend'
                            }
                        }
                    };

                    $.each(config1.data.datasets, function (i, dataset) {
                        var background = randomColor(0.5);
                        dataset.borderColor = background;
                        dataset.backgroundColor = background;
                        dataset.pointBorderColor = background;
                        dataset.pointBackgroundColor = background;
                        dataset.pointBorderWidth = 1;
                    });


                    var ctx11 = document.getElementById("canvas2").getContext("2d");
                    window.myLine = new Chart(ctx11, config1);


                }

        }






















    </script>