﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UCKMS_UserQuizRecordKeeper.ascx.cs" Inherits="UserQuizRecordKeeper" %>

   
<%--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>--%>
<script src="Scripts/jquery-1.8.3-jquery.min.js"></script>
<script src="Scripts/json2.js"></script>

<%--<script src="Scripts/exporting.js"></script>
<script src="Scripts/highcharts.js"></script>--%>

<%--<script src="Scripts/resultShower.js"></script>--%>

<script src="dist/Chart.bundle.js"></script>
<script>


    //points for current setup;


    $(window).load(record_getch());


    function record_getch()
    {
        //here we will get the quiz_id from parameter

        xxx = new Object();

        var abc = 31;

        attempt = 2;
        xid = abc;

        $.ajax({

            type: 'POST',
            url: 'service_provider_page.aspx/Result_Maker1',
            dataType: 'json',

            //filhal aesai 
            //will get the quiz_id from url after checking

            data: "{quiz_id:" + xid + ",attempt:" + attempt + "}",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // dget(response.d);

                //  alert(r);

                //  {"Questions":["0-(19)-Guess the thing ","1-(20)-Guess the number","2-(21)-Guess the number","3-(17)-Guess the Quantity of Fish","4-(18)-Guess the riddle"],"User_Scores":[30,20,50,25,25],"Avg_Scores":[30,20,50,25,25],"Best_Scores":[30,20,50,25,25],"time_taken_for_last_attempt_curr_user":[11,4,3,3,2],"average_time_taken_all_usr":[11,4,3,3,2],"average_time_taken_curr_usr":[11,4,3,3,2],"User_Scores_For_Current_Attempt":[30,20,50,25,25],"User_Overall_Percentage_of_Current_Quiz":100,"Avg_Overall_Percentage_of_Current_Quiz":100,"Best_Overall_Percentage_of_Current_Quiz":100,"User_Overall_Percentage_of_Current_Attempt":100,"curr_quiz_section":[],"curr_quiz_section_curr_attempt_score":null,"curr_quiz_section_curr_user_avg":[],"curr_quiz_section_best_score":null,"curr_quiz_section_avg_score":null}

                xxx = response.d;


                if (xxx.length > 0) {

                    //alert(xxx.length);
                    //alert(JSON.parse(xxx[0]).Questions);


                    Quiz_Name = new Array();
                    NetScore_of_EachQuiz_of_Curr_User = new Array();
                    Overall_AvgScore = new Array();

                    Quiz_Name.push(" ");
                    NetScore_of_EachQuiz_of_Curr_User.push(0);
                    Overall_AvgScore.push(0);


                    for (a = 0; a < xxx.length; a++) {
                        NetScore_of_EachQuiz_of_Curr_User.push(JSON.parse(xxx[a]).User_Overall_Percentage_of_Current_Quiz);
                        Quiz_Name.push(JSON.parse(xxx[a]).QuizID + "(" + JSON.parse(xxx[a]).QuizTitle + ")");
                        Overall_AvgScore.push(JSON.parse(xxx[a]).Avg_Overall_Percentage_of_Current_Quiz);

                    }
                    UserOverallRecord(Quiz_Name, NetScore_of_EachQuiz_of_Curr_User, Overall_AvgScore);
                    // UserOverallRecordchartjs(Quiz_Name, NetScore_of_EachQuiz_of_Curr_User, Overall_AvgScore);

                    // JSON.parse(xxx[0]);

                    //Distributing_


                    $("#norecord").hide();
                    //   {"Questions":["0-(19)-Guess the thing ","1-(20)-Guess the number","2-(21)-Guess the number","3-(17)-Guess the Quantity of Fish","4-(18)-Guess the riddle"],"User_Scores":[30,20,50,25,25],"Avg_Scores":[30,20,50,25,25],"Best_Scores":[30,20,50,25,25],"time_taken_for_last_attempt_curr_user":[11,4,3,3,2],"average_time_taken_all_usr":[11,4,3,3,2],"average_time_taken_curr_usr":[11,4,3,3,2],"User_Scores_For_Current_Attempt":[30,20,50,25,25],"User_Overall_Percentage_of_Current_Quiz":100,"Avg_Overall_Percentage_of_Current_Quiz":100,"Best_Overall_Percentage_of_Current_Quiz":100,"User_Overall_Percentage_of_Current_Attempt":100,"curr_quiz_section":[],"curr_quiz_section_curr_attempt_score":null,"curr_quiz_section_curr_user_avg":[],"curr_quiz_section_best_score":null,"curr_quiz_section_avg_score":null}
                }
                else {

                    $("#norecord").show();

                   //("<h1>You have no record right now!</h1>");

                }


            },

            error: function (error) {
                //  alert("asdqwerqwdsadf3qwqwdsad");

                console.log(error);
            }

        });
    }

    //function UserOverallRecord(x, y, y1) {

    //    $('#container1').highcharts({
    //        chart: {
    //            type: 'bar'
    //        },
    //        title: {
    //            text: 'Performance Details'
    //        },
    //        subtitle: {
    //            text: 'Quiz.Learners.Club'
    //        },
    //        xAxis: {
    //            categories: x,
    //            crosshair: true
    //        },
    //        yAxis: {
    //            min: 0,
    //            title: {
    //                text: 'Points (pts)'
    //            }
    //        },
    //        tooltip: {
    //            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    //            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    //                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
    //            footerFormat: '</table>',
    //            shared: true,
    //            useHTML: true
    //        },
    //        plotOptions: {
    //            column: {
    //                pointPadding: 0.2,
    //                borderWidth: 0
    //            }
    //        },
    //        series: [{
    //            name: 'Current User Performace',
    //            //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    //            data: y
    //        },
    //        {
    //            name: 'Overall Mean Performance',
    //            //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    //            data: y1
    //        }
    //        ]

    //    });
    //    //});


    //}

    function UserOverallRecord(x, y, y1)
    {

        var ctx = document.getElementById("canvas1");
        //alert("checking" + ctx);
        var data = {
            labels: x,
            datasets: [


                {
                    label: "Current User Performace",
                    backgroundColor: "rgba(2, 181, 208, 1)",
                    borderColor: "rgba(255,99,132,1)",
                    borderWidth: 0,
                    hoverBackgroundColor: "rgba(200,99,132,0.8)",
                    hoverBorderColor: "rgba(200,99,132,1)",
                    data: y,
                    scale: 10,
                    scaleStartValue: 0
                },


               // name: 'Best Scores',
            //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]




                {
                    label: "Overall Mean Performance",
                    backgroundColor: "rgba(0, 0, 0, 0.8)",
                    borderColor: "rgba(255,99,132,1)",
                    borderWidth: 0,
                    hoverBackgroundColor: "rgba(200,99,132,0.4)",
                    hoverBorderColor: "rgba(200,99,132,1)",
                    data: y1,
                    //Overall_Avg_Score
                    scale: 10,
                    scaleStartValue: 0

                }
            ]
        };



        var myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data


        });



    
    }


</script>
 <center>   <div id="norecord" style="margin-bottom:-50%;">you have no record to show</div>  <div style="width:75%;" id="canvasshower1">
   <%-- <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <hr />--%>
   <%-- <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   --%> <hr />
        <%--<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>--%>
     <canvas id="canvas1" style="min-width: 310px; height: 400px; margin: 0 auto"></canvas>
  
      </div>
     
        </center>