﻿<!DOCTYPE HTML> <!--Doctype @1-EDBCE198-->

<!--ASPX page header @1-394A929D-->
<%@ Page language="C#" CodeFile="abcEvents.aspx.cs" Inherits="YouProQuiz_Beta.abc_Page"  %>
<%@ Register TagPrefix="mt" Namespace="InMotion.Web.Controls" %>
<%@ Register Src="~/CRUDQuiz/UC_Quiz_edit.ascx" TagPrefix="uc1" TagName="UC_Quiz_edit" %>

<!--End ASPX page header-->

<!--ASPX page @1-B875A1B1-->
<html>
<head>
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990"><meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>NewPage2</title>


<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-33862889
</script>
<script src="ClientI18N.aspx?file=globalize.js&amp;locale=<%#ResManager.GetString("CCS_LocaleID")%>" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-DEAA4CDA
</script>
<%=Attributes["scriptIncludes"]%>
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>

<mt:MTPanel ID="___head_link_panel" runat="server"></mt:MTPanel>
</head>
<body>
<form id="Form1" runat="server" data-need-form-emulation="data-need-form-emulation">

    <uc1:UC_Quiz_edit runat="server" ID="UC_Quiz_edit" />
<hr>
<p><mt:MTLabel SourceType="CodeExpression" OnBeforeShow="Label1_BeforeShow" ID="Label1" runat="server"/> </p>
<p>Welcome <mt:MTLabel OnBeforeShow="Label2_BeforeShow" ID="Label2" runat="server"/></p>
<p><mt:MTLink Text="Reset Settings" ID="Link1" data-id="Link1" runat="server" PreserveParameters="Get"/></p>
<p>
<hr></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</form>
<center><font face="Arial"><small>G&#101;ne&#114;&#97;&#116;ed <!-- CCS -->&#119;it&#104; <!-- CCS -->&#67;o&#100;&#101;Charg&#101; <!-- CCS -->&#83;&#116;u&#100;io.</small></font></center></body>
</html>

<!--End ASPX page-->

